<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid container">
      <a class="navbar-brand" href="">MediFlow</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 40px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item" style="padding-left: 20px">
            <a class="nav-link" href="{{url_for('pacientes')}}">Pacientes</a>
          </li>
          <li class="nav-item" style="padding-left: 20px">
            <a class="nav-link" href="{{url_for('funcionarios')}}">Funcionarios</a>
          </li>
          <li class="nav-item" style="padding-left: 20px">
            <a class="nav-link" href="{{url_for('consultas')}}">Agenda</a>
          </li>
          <li class="nav-item" style="padding-left: 20px">
            <a class="nav-link" href="{{url_for('procedimentos')}}">Procedimentos</a>
          </li>
          </div>
        </ul>
        </ul>
      </div>
    </div>
  </nav>

  


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
