{% extends "base.html" %}

{% block head %}
<style>
    body {
        background-color: #efefef
    }
    
    .containerm {
        min-height: 100vh;
        overflow: hidden;
        width: 100%;
        padding: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
</style>
{% endblock %}

{% block body %}
        <div class="containerm">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOME</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">PRECO</th>
                    <th scope="col">DESCRICAO</th>
                    <th scope="col">ATIVO</th>
                    <th scope="col">TEMPO_ESTIMADO</th>
                    <th scope="col">OPÇÕES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
{% endblock %}